.div-show {
  text-align: center;
  .strip-show {
    overflow: hidden;
    min-height: calc(100vh - 110px);
    -webkit-animation: slide-down 0.5s ease-out;
    -moz-animation: slide-down 0.5s ease-out;
  }
  .strip-show:nth-child(2) {
    background-color: #60bfbf;
  }
  .strip-show:nth-child(3) {
    background-color: #8c4b7e;
  }
  .strip-show:nth-child(4) {
    background-color: #f8bb44;
  }
  .strip-show:nth-child(5) {
    background-color: #f24b4b;
  }
  .content-strip {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 100px;
  }
}
